.account__navigation {
  background-color: #d3d3d3;
}

.account__navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.account__navigation-item {
  padding: 1rem;
}

.account__navigation-item:hover {
  background-color: rgba(228, 228, 228, 0.8);
}

.account__navigation-link {
  text-decoration: none;
  color: #292929;
  font-weight: bold;
}

.account__navigation-link:hover {
  color: #000000;
}
