.admin-layout__nav {
  background-color: #d3d3d3;
  padding: 1.25rem;
}

.admin-layout__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.admin-layout__nav-item {
  margin-bottom: 0.5rem;
}

.admin-layout__nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.admin-layout__nav-link:hover {
  color: #ffffff;
}

/* Медиазапросы для адаптивности */
@media (max-width: 1200px) {
  .admin-layout__nav {
    padding: 1rem;
  }

  .admin-layout__nav-list {
    flex-direction: row;
    align-items: center;
  }

  .admin-layout__nav-item {
    margin-bottom: 0.75rem;
  }
}

@media (max-width: 768px) {
  .admin-layout__nav {
    padding: 0.75rem;
  }

  .admin-layout__nav-list {
    flex-direction: row;
    align-items: flex-start;
  }

  .admin-layout__nav-item {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 480px) {
  .admin-layout__nav {
    padding: 0.5rem;
  }

  .admin-layout__nav-list {
    flex-direction: row;
    align-items: flex-start;
  }

  .admin-layout__nav-item {
    margin-bottom: 0.25rem;
  }
}
