.booking-page {
  text-align: center;
  padding: 1.25rem;
}

.booking-page__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.booking-page__subtitle {
  margin-bottom: 1.25rem;
}

.booking-page__paragraph {
  margin-top: 1.25rem;
}

.booking-page__span {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
