.admin-categories {
  margin: 0 1rem;
}

.admin-categories__title {
  text-align: center;
  font-size: 2rem; /* Добавлено */
}

.admin-categories__table .table__row:nth-of-type(odd) {
  background-color: rgb(233, 233, 233);
}
.admin-categories__table .table__row:nth-of-type(even) {
  background-color: #e2e2e2;
}

.admin-categories__table .table__header {
  background-color: #d3d3d3;
}

.admin-categories__table .table__data:nth-of-type(even) {
  background-color: #9e9e9e;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
}

/* Медиазапросы для адаптивности */
@media (max-width: 1200px) {
  .admin-categories__title {
    font-size: 1.75rem;
  }
}

@media (max-width: 768px) {
  .admin-categories__title {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .admin-categories__title {
    font-size: 1.25rem;
  }
}

