.admin-clients__title {
  text-align: center;
}

.admin-clients__search {
  padding: 0.5rem 1rem;
  border: 0.125rem solid #ccc;
  border-radius: 0.25rem;
}

.admin-clients__table .table__row:nth-of-type(odd) {
  background-color: #d5e9be;
}
.admin-clients__table .table__row:nth-of-type(even) {
  background-color: #cfe6e4;
}

.admin-clients__table .table__header {
  background-color: #78cef9;
}