.login-page {
  width: 100%;
  max-width: 25rem;
  margin: 5rem auto;
  padding: 1.25rem;
}

.login-page__title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-page__form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.login-page__form-row {
  margin: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-page__form-label {
  font-weight: bold;
}

.login-page__form-input {
  padding: 0.5rem;
  border: 0.125rem solid #ccc;
  border-radius: 0.25rem;
}

.login-page__form-button {
  padding: 0.75rem 1.25rem;
  background-color: #363636;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.login-page__form-button:hover {
  background-color: #000000;
}

.login-page__form-button--register {
  background-color: #575757;
}

.login-page__form-button--register:hover {
  background-color: #424242;
}