.admin-masters__title {
  text-align: center;
}

.admin-masters__search {
  padding: 0.5rem 1rem;
  border: 0.125rem solid #ccc;
  border-radius: 0.25rem;
}

.admin-masters__table .table__row:nth-of-type(odd) {
  background-color: rgba(101, 77, 137, 0.4);
}
.admin-masters__table .table__row:nth-of-type(even) {
  background-color: #d2debd;
}

.admin-masters__table .table__header {
  background-color: #d3ab8b;
}

.admin-masters__table .table__data:nth-of-type(even) {
  background-color: #e7b7e6;
}