.admin-masters__title {
  text-align: center;
  font-size: 2rem; /* Добавлено */
}

.admin-masters__search {
  padding: 0.5rem 1rem;
  border: 0.125rem solid #ccc;
  border-radius: 0.25rem;
}

.admin-masters__table .table__row:nth-of-type(odd) {
  background-color: rgba(95, 95, 95, 0.4);
}
.admin-masters__table .table__row:nth-of-type(even) {
  background-color: #a0a0a0;
}

.admin-masters__table .table__header {
  background-color: #cecece;
}

.admin-masters__table .table__data:nth-of-type(even) {
  background-color: #ececec;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
}

/* Медиазапросы для адаптивности */
@media (max-width: 1200px) {
  .admin-masters__title {
    font-size: 1.75rem;
  }
}

@media (max-width: 768px) {
  .admin-masters__title {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .admin-masters__title {
    font-size: 1.25rem;
  }
}
