.admin-services__title {
  text-align: center;
}

.admin-services__search {
  padding: 0.5rem 1rem;
  border: 0.125rem solid #ccc;
  border-radius: 0.25rem;
}

.admin-services__table .table__row:nth-of-type(odd) {
  background-color: rgba(151, 151, 151, 0.4);
}
.admin-services__table .table__row:nth-of-type(even) {
  background-color: #b9b9b9;
}

.admin-services__table .table__header {
  background-color: #a3a3a3;
}

.admin-services__table .table__data:nth-of-type(even) {
  background-color: #e4e4e4;
}