.about__services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  margin: 0;
}

.about__services-title {
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

.about__services-search {
  padding: 0.5rem 1rem;
  border: 0.125rem solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1.25rem;
}

.about__services-categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  text-transform: capitalize;
}

.about__services-categories__button {
  padding: 0.5rem 1.25rem;
  background-color: #dddddd;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-transform: capitalize;
}

.about__services-categories__button.active {
  background-color: #acacac;
}

.about__services-services {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.25rem;
}

.about__services-services__card {
  border: 0.125rem solid #ccc;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #c2c2c2;
}

.about__services-services__card-title {
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  text-transform: capitalize;
  background-color: #dbdbdb;
  border-radius: 0.75rem;
}

.about__services-services__card-info {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}