.table {
  width: 100%;
  border-collapse: collapse;
}

.table__row {
  border-bottom: 0.125rem solid #000000;
}
.table__row:nth-of-type(odd) {
  background-color: #cacaca;
}

.table__header {
  padding: 0.75rem;
  text-align: left;
  font-weight: bold;
  background-color: #aaaaaa;
}

.table__data {
  padding: 0.5rem;
  text-align: left;
}
.table__data:nth-of-type(even) {
  background-color: #e7e7e7;
}

.table__button {
  color: white;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0.25rem;
}

.table__button--delete {
  background-color: #f44336;
}

.table__button--edit {
  background-color: #2196f3;
}

.table__button--add {
  margin: 0.5rem auto;
  display: block;
  background-color: #00a2ff;
}
.table__button--view {
  background-color: #4caf50;
}

.table__button--delete:hover {
  background-color: #b71c1c;
}

.table__button--edit:hover {
  background-color: #1976d2;
}

.table__button--view:hover {
  background-color: #296b2b;
}

.table__button--add:hover {
  background-color: #1976d2;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
}